* {
    margin: 0;
    padding: 0;

}

body {

    background-color: #e5e5f7;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 47.5px 47.5px, linear-gradient(#444cf7 3.8000000000000003px, transparent 3.8000000000000003px) 0 -1.9000000000000001px, linear-gradient(90deg, #444cf7 3.8000000000000003px, #e5e5f7 3.8000000000000003px) -1.9000000000000001px 0;
    background-size: 95px 95px, 95px 95px, 47.5px 47.5px, 47.5px 47.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.file-upload-container {
    background-color: white;
    padding: 2em;
    border-radius: 5px;

}

.file-upload-container>* {
    margin-bottom: 20px;
    font-size: 2.5em;
}

input::file-selector-button,
input[type='submit'] {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    cursor: pointer;
}